body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: rgba(209,209,211,1);
}
.pv-cms-app{
    width: 80%;
    margin: auto;
}
.pv-cms-menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.pv-cms-menu li{
    float: left;
}
.pv-cms-header-menu{
    width: 100%;
    margin-top: 5px;
}
.pv-cms-header-menu li{
    font-size: 18px;
    line-height: 40px;
    background: rgba(139,136,148,0.5);
    color: rgba(65,56,75,1);
    height: 40px;
    width: 16%;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

.pv-cms-header-menu-selected{
    color: rgba(255,255,255,1) !important;
}
.pv-cms-header-menu li:hover{
    color: rgba(255,255,255,1);
}
