<script type="text/ng-template" id="app">

    <div>
        <ul class="pv-cms-menu pv-cms-header-menu">
            <li ng-repeat="mnu in menuItems"
                ng-click="onHeaderMenuClick(mnu.tab)"
                ng-class="{'pv-cms-header-menu-selected':selectedHeaderMenu===mnu.tab}"
                    >{{mnu.name}}</li>
        </ul>
    </div>

</script>